.content {
    max-width: 830px;
    max-height: 482px;
    margin: 0 332px 118px auto;
}


@media screen and (max-width: 1024px) {


    /* content block */

        .content {
            max-width: 720px;
            max-height: 490px;
            margin: 0 auto 88px auto;
        }
}

/* media queries - content */

@media screen and (max-width: 544px) {

  .content {
            max-width: 288px;
            max-height: 878px;
            margin: 0 auto 74px auto;
        }

}