/* header block */

.header {
    max-width: 984px;
    max-height: 983px;
    margin: 0 auto 92px;
}

.header__title {
    max-width: 720px;
    margin: 0 auto 32px;

    font-family: "Inter", sans-serif;
    font-weight:900;
    font-style: Black;
    font-size: 96px;
    line-height: 100px;
    color: #fff;
    letter-spacing: 0%;
    text-align: center;
}

.header__subtitle {
    max-width: 720px;
    margin: 0 auto 64px;

    font-family: "Inter Light", sans-serif;
    font-weight:400;
    font-style: Light;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    text-align: center;
}

.header__image {
    width: 100%;
}
