/* nav block */

.nav {
    max-width: 254px;
    margin: 34px auto 90px;

}

.nav__logo {
    width: 100%;
}


/* media queries - nav */

@media screen and (max-width: 544px) {

    /* nav block */

        .nav {
            max-width: 188px;
            max-height: 52px;
            margin: 20px auto 50px auto;

        }

        .nav__image {
            width: 100%;
        }
}
