
html {
  background-color: #2A2C2F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
    background-color: #2A2C2F;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
}
