/* Photo-grid Block */

.photo-grid {
  max-width: 1184px;
  max-height: 442px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin: 0 auto 92px;
}

.photo-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* media queries */

@media screen and (max-width: 1024px) {

  .photo-grid {
      max-width: 1184px;
      max-height: 442px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 16px;
      margin: 0 24px 88px 24px;
  }

}



@media screen and (max-width: 544px) {

  .photo-grid {
      max-width: 1184px;
      max-height: 442px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
      gap: 12px;
      margin: 0 16px 62px 16px;
  }

}