/* Places Block */

.places {
  max-width: 984px;
  margin: 0 auto 90px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);

}

.places__item {


}




/* media queries */