@import url(../vendor/normalize.css);

/* Importações Estilo, Blocos, Media */

@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/nav.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/section.css);
@import url(../blocks/footer.css);
