
body {
    
    background-color: #2A2C2F;
}


/* nav block */

.logo {
    max-width: 254px;
    margin: 34px auto 90px;

}

.logo__image {
    width: 100%;
}

/* lead block */

.lead {
    max-width: 984px;
    max-height: 983px;
    margin: 0 auto 92px;
}

.lead__title {
    max-width: 720px;
    margin: 0 auto 32px;

    font-family: "Inter", sans-serif;
    font-weight:900;
    font-style: Black;
    font-size: 96px;
    line-height: 100px;
    color: #fff;
    letter-spacing: 0%;
    text-align: center;
}

.lead__subtitle {
    max-width: 720px;
    margin: 0 auto 64px;

    font-family: "Inter Light", sans-serif;
    font-weight:400;
    font-style: Light;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    text-align: center;
}

.lead__image {
    width: 100%;
}

/* intro block */

.intro {
    max-width: 830px;
    max-height: 482px;
    margin: 0 332px 92px auto;
}

.intro__title {
    max-width: 830px;
    text-align: start;
    margin-bottom: 32px;

    font-family: "Inter", sans-serif;
    font-weight:900;
    font-style: Black;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 0%;
    color: #fff;
}

.intro__quote {
    max-width: 738px;
    text-align: start;
    margin-bottom: 10px;

    font-family: "Inter Regular", sans-serif;
    font-weight:400;
    font-style: Regular;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    letter-spacing: 0;
}

.intro__quote-cite {
    max-width: 738px;
    text-align: end;
    margin-bottom: 32px;

    font-family: "Inter Regular", sans-serif;
    font-weight:400;
    font-style: Regular;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    letter-spacing: 0;

}

.intro__text {
    max-width: 722px;
    max-height: 182px;
    text-align: start;

    font-family: "Inter Light", sans-serif;
    font-weight:400;
    font-style: light;
    font-size: 16px;
    line-height: 163%;
    color: #fff;
    letter-spacing: 0;
}

/* footer block */

.footer {
    max-width: 186px;
    max-height: 16px;
    margin: 0 auto 24px;
    
}

.footer__text {
    width: 100%;
    text-align: right;

    font-family: "Inter Light", sans-serif;
    font-weight:400;
    font-style: light;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 0%;
}

